{% extends "reparaciones/base.html" %}

{% block title %}Crear Reparación{% endblock %}

{% block content %}
<div class="form-container form-card">
    <a class="back-link" href="{% url 'inicio' %}">Volver atrás</a>

    <h2>Crear Reparación</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <label>Teléfono</label>
        {{ form.telefono }}

        <label>Ubicación</label>
        {{ form.ubicacion }}

        <label>Tipo de equipo</label>
        {{ form.tipo_equipo }}

        <label>Descripción</label>
        {{ form.descripcion }}

        <label>Imagen principal</label>
        {{ form.imagen }}

        <label>Imagen secundaria (opcional)</label>
        {{ form.imagen2 }}

        <label>Video (opcional)</label>
        {{ form.video }}
        {{ form.video.errors }}

        <button type="submit">Crear Reparación</button>
    </form>
</div>
{% endblock %}
