{% extends "reparaciones/base.html" %}
{% load static %}

{% block title %}Dashboard de Reparaciones{% endblock %}

{% block content %}

<section class="dashboard-shell">
    <h1 class="page-title">Dashboard de Reparaciones</h1>

    <div class="dashboard-actions">
        <a href="{% url 'crear_reparacion' %}" class="create-btn">
            + Crear nueva reparación
        </a>
    </div>

    <div class="dashboard">
        {% for reparacion in reparaciones %}
            <div class="card">

                {% if reparacion.imagen %}
                    <img src="{{ reparacion.imagen.url }}" alt="Imagen del equipo">
                {% else %}
                    <img src="{% static 'reparaciones/no-image.png' %}" alt="Sin imagen">
                {% endif %}

                {% if reparacion.imagen2 %}
                    <img src="{{ reparacion.imagen2.url }}" alt="Segunda imagen">
                {% endif %}

                {% if reparacion.video %}
                <div class="badge badge-video">Video recibido</div>
                {% endif %}

                <h2>{{ reparacion.tipo_equipo }}</h2>

                <p><strong>Cliente:</strong> {{ reparacion.nombre_cliente }}</p>
                <p><strong>Teléfono:</strong> {{ reparacion.telefono }}</p>
                <p><strong>Ubicación:</strong> {{ reparacion.ubicacion }}</p>

                <p>
                    <strong>Estado:</strong>
                    <span class="estado badge {{ reparacion.estado }}">
                        {{ reparacion.get_estado_display }}
                    </span>
                </p>


                {% if reparacion.fecha_finalizacion %}
                    <p><strong>Fecha de finalización:</strong> {{ reparacion.fecha_finalizacion }}</p>
                {% endif %}

                {% if reparacion.comentario_admin %}
                    <p><strong>Comentario:</strong> {{ reparacion.comentario_admin }}</p>
                {% endif %}

                <p><strong>Descripción:</strong> {{ reparacion.descripcion }}</p>

            </div>
        {% empty %}
            <p class="dashboard-empty">No hay reparaciones registradas.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}
